<div class="container-fluid px-6 mt-4">

  <!-- Account page navigation -->
  <nav class="nav nav-borders">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details"
      target="__blank">Perfil</a>
    <a class="nav-link active" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page"
      target="__blank">Finanças</a>
    <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page"
      target="__blank">Segurança</a>
    <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"
      target="__blank">Notificações</a>
  </nav>

  <hr class="mt-0 mb-4">
  
<!-- Resume Monthly -->
  <div class="row">
    <div class="col-lg-4 mb-4">
      <!-- Billing card 1-->
      <div class="card h-100 border-start-lg border-start-primary">
        <div class="card-body">
          <div class="small text-muted">Saldo Atual</div>
          <div class="h3">R$ {{(revenueResume.total - expenditureResume.total).toFixed(2)}} </div>
          <!-- <a class="text-arrow-icon small" href="#!">
            Switch to yearly billing
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-arrow-right">
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a> -->
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <!-- Billing card 2-->
      <div class="card h-100 border-start-lg border-start-success">
        <div class="card-body">
          <div class="small text-muted">Total de Receitas</div>
          <div class="h3">R$ {{revenueResume?.total?.toFixed(2)}}</div>
          <!-- <a class="text-arrow-icon small text-secondary" href="#!">
            View payment history
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-arrow-right">
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a> -->
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <!-- Billing card 3-->
      <div class="card h-100 border-start-lg border-start-danger">
        <div class="card-body">
          <div class="small text-muted">Total de Despesas</div>
          <div class="h3">R$ {{expenditureResume?.total?.toFixed(2)}}</div>
          <!-- <a class="text-arrow-icon small text-success" href="#!">
            Upgrade plan
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-arrow-right">
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Finance Spreadsheet-->
  <div class="row">
    <!-- Revenue -->
    <div class="col-lg-5 mb-4">
      <div class="card h-100 border-start-lg border-start-success">
        <h3 class="card-header py-4 border-start-success">Receitas</h3>
        <div class="card-body">
          <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
              <thead>
                <tr>
                  <th class="text-center">Descrição</th>
                  <th class="text-center">Data</th>
                  <th class="text-center">Valor</th>
                  <th class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody id="table-body">
                <tr *ngFor="let revenue of revenueResume.registries">
                  <td class="pt-3-half">{{revenue?.description}}</td>
                  <td class="pt-3-half">{{revenue?.date}}</td>
                  <td class="pt-3-half">R$ {{revenue?.value?.toFixed(2)}}</td>
                  <td>
                    <span class="table-edit">
                      <button (click)="onOpenModal('revenue', revenue, 'edit')" type="button"
                        class="btn btn-primary btn-rounded btn-sm my-0">Editar</button>
                    </span>
                    &nbsp;
                    <span class="table-remove">
                      <button (click)="onOpenModal('revenue', revenue, 'delete')" type="button"
                        class="btn btn-danger btn-rounded btn-sm my-0">Excluir</button>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
              <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn-table-add float-right mb-3 mr-2">
                <a (click)="onOpenModal('revenue', null!, 'add')" class="text-success">
                  <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                </a>
              </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Expenditure -->
    <div class="col-lg-7 mb-4">
      <div class="card h-100 border-start-lg border-start-danger">
        <h3 class="card-header py-4 border-start-success">Despesas</h3>
        <div class="card-body">
          <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
              <thead>
                <tr>
                  <th class="text-center">Descrição</th>
                  <th class="text-center">Data</th>
                  <th class="text-center">Valor</th>
                  <th class="text-center">Categoria</th>
                  <th class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody id="table-body">
                <tr *ngFor="let expenditure of expenditureResume.registries">
                  <td class="pt-3-half">{{expenditure?.description}}</td>
                  <td class="pt-3-half">{{expenditure?.date}}</td>
                  <td class="pt-3-half">R$ {{expenditure?.value?.toFixed(2)}}</td>
                  <td class="pt-3-half">{{expenditure?.category}}</td>
                  <td>
                    <span class="table-edit">
                      <button (click)="onOpenModal('expenditure', expenditure, 'edit')" type="button"
                        class="btn btn-primary btn-rounded btn-sm my-0">Editar</button>
                    </span>
                    &nbsp;
                    <span class="table-remove">
                      <button (click)="onOpenModal('expenditure', expenditure, 'delete')" type="button"
                        class="btn btn-danger btn-rounded btn-sm my-0">Excluir</button>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
              <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn-table-add float-right mb-3 mr-2">
                <a (click)="onOpenModal('expenditure', null!, 'add')" class="text-danger">
                  <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                </a>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add Registry Modal -->
<div class="modal fade" id="addRegistryModal" tabindex="-1" aria-labelledby="addRegistryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRegistryModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddRegistry(addForm)">
          <div class="form-group">
            <label for="description">Descrição</label>
            <input type="text" ngModel name="description" class="form-control" id="description" placeholder="Descrição" required>
          </div>
          <div class="form-group">
            <label for="date">Data</label>
            <input type="date" ngModel name="date" class="form-control" id="date" placeholder="Data" required>
          </div>
          <div class="form-group">
            <label for="value">Valor</label>
            <input type="number" ngModel name="value" class="form-control" id="value" placeholder="Valor" required>
          </div>
          <div class="form-group" id="category-input">
            <label for="category">Categoria</label>
            <select ngModel class="form-control" id="category">
              <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-registry-form" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Registry Modal -->
<div class="modal fade" id="updateRegistryModal" tabindex="-1" aria-labelledby="updateRegistryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateRegistryModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="description">Descrição</label>
            <input type="text" ngModel="{{editRegistry?.description}}" name="description" class="form-control" id="description" aria-describedby="emailHelp"
              placeholder="Descrição">
          </div>
          <input type="hidden" ngModel="{{editRegistry?.id}}" name="id" class="form-control" id="id">
          <div class="form-group">
            <label for="date">Data</label>
            <input type="date" ngModel="{{editRegistry?.date}}" name="date" class="form-control" id="date" placeholder="Data">
          </div>
          <div class="form-group">
            <label for="value">Valor</label>
            <input type="number" ngModel="{{editRegistry?.value}}" name="value" class="form-control" id="value" placeholder="Valor">
          </div>
          <div class="form-group" id="category-input">
            <label for="category">Categoria</label>
            <select ngModel class="form-control" id="category">
              <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancelar</button>
            <button (click)="onUpdateRegistry(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Registry Modal -->
<div class="modal fade" id="deleteRegistryModal" tabindex="-1" aria-labelledby="deleteRegistryModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRegistryModelLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir {{deleteRegistry?.description}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button (click)="onDeleteRegistry(deleteRegistry?.id!)" class="btn btn-danger" data-bs-dismiss="modal">Sim</button>
                </div>
            </div>
        </div>
    </div>
</div>